<h1><%= @playlist.name %></h1>

<h3>Current Chat</h3>
<div id="messages">
</div>

<p>
<%= text_area_tag(:message, nil, size: "60x3") %>
</p>

<p>
<button id="be_heard" input[type="submit"]>Be Heard!</button>
</p>

<h1>Voting/Queueing</h1>
<div class="breadcrumb">
  <a href="javascript:void(0)">One</a>
  <a href="javascript:void(0)">Two</a>
  <a href="javascript:void(0)">Three</a>
  <a href="javascript:void(0)">Four</a>
  <a href="javascript:void(0)">Five</a>
</div>
